.mat-dialog-content {
  max-height: 90vh;
}

.notification-popup {
  padding: 24px;
  display: flex;
  flex-direction: row;
}
.notification {
  display: flex;
  flex-direction: column;
}

.notification-icon {
  align-content: center;
  justify-content: flex-start;
  margin: -24px 12px 0 -24px;
  width: 48px;
}

.mat-icon {
  font-size: 48px;
}

.mat-dialog-actions {
  padding: 12px 0 0 0;
  justify-content: flex-end;
}
