<div class="col-md-12" *ngIf="loggedUser$ | async as loggedUser">
  <form
    *ngIf="!loggedUser.jwtToken"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate
  >
    <mat-card class="card card-container">
      <img
        mat-card-image
        src="../../../assets/Images/logo.png"
        alt="Login"
        class="profile-img-card"
      />
      <mat-card-content>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="authenticationRequest.email"
            required
            #email="ngModel"
            email
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="email.errors && f.submitted"
          >
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.email">Email is invalid</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="authenticationRequest.password"
            required
            #password="ngModel"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="password.errors && f.submitted"
          >
            <div *ngIf="password.errors.required">Password is required</div>
          </div>
        </div>
        <div class="form-group">
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && isLoginFailed"
          >
            Login failed: {{ errorMessage }}
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions id="actions">
        <button mat-raised-button type="submit" style="width: 100%">
          Login
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
