@import "../../../variables.scss";

.footer {
  background-color: $primary-dark;
  color: darkgray;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .copyright {
    flex: 1 1;
    text-align: center;
  }

  .version {
    place-items: center end;
    margin-right: 24px;
  }

  a {
    color: white;
  }
  a:visited {
    color: white;
  }

  p {
    margin: 0;
  }
}
