<div class="notification-popup">
  <div class="notification-icon" [ngSwitch]="type">
    <mat-icon *ngSwitchCase="'WARNING'">warning</mat-icon>
    <mat-icon *ngSwitchCase="'ERROR'">error</mat-icon>
    <mat-icon *ngSwitchCase="'CRITICAL'">cancel</mat-icon>
    <mat-icon *ngSwitchCase="'INFORMATION'">info</mat-icon>
  </div>
  <div class="notification">
    <div mat-dialog-title>
      {{ title }}
    </div>
    <div mat-dialog-content [innerHTML]="htmlContent"></div>
    <div mat-dialog-actions>
      <button class="sgmwButton sgmwButton-blue" mat-dialog-close="Close">
        Close
      </button>
    </div>
  </div>
</div>
