<div *ngIf="loggedUser$ | async as loggedUser">
  <div *ngIf="loggedUser.email">
    <mat-toolbar>
      <mat-toolbar-row>
        <h1>Colony Manager</h1>
        <div>
          <button
            mat-button
            (click)="loadSideMenuItems('PEOPLES')"
            [routerLink]="['']"
          >
            Peoples management
          </button>
          <button
            mat-button
            [routerLink]="['/shuttles']"
            (click)="loadSideMenuItems('')"
          >
            Shuttles management
          </button>
          <button
            mat-button
            [routerLink]="['/colonies']"
            (click)="loadSideMenuItems('')"
          >
            Colonies management
          </button>
          <button
            *ngIf="loggedUser.role === 'Admin'"
            mat-button
            [routerLink]="['/configurations']"
            (click)="navigateToRoute('configurations')"
          >
            Configurations
          </button>
          <button
            *ngIf="loggedUser.role === 'Admin'"
            mat-button
            [routerLink]="['/accounts']"
            (click)="loadSideMenuItems('')"
          >
            Accounts
          </button>
        </div>
        <div class="userInfo">
          <p>Connected as {{ loggedUser.email }}</p>
          <button mat-button (click)="logout()" matTooltip="Logout">
            <fa-icon [icon]="faLogout" size="lg" style="color: red"></fa-icon>
          </button>
          <button mat-button matTooltip="Parameters">
            <fa-icon [icon]="faParam" size="lg"></fa-icon>
          </button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container>
      <mat-sidenav #sidenav mode="side">
        <mat-nav-list>
          <a
            mat-list-item
            *ngFor="let menuItem of menuItems"
            (click)="navigateToRoute(menuItem.route)"
            >{{ menuItem.name }}</a
          >
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <div style="height: 85vh">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
