@import "../../../assets/variables.scss";

mat-toolbar {
  background-color: $primary-dark;
  color: $typo-light-grey;
}

.userInfo {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  p {
    margin: 0;
    margin-right: 5px;
    font-size: medium;
  }
}

mat-sidenav-container {
  background: url("../../../assets/Images/background.png") no-repeat;
  background-size: cover;
}
