// COLORS
$primary-dark: #003c8f;
$primary: #1565c0;
$primary-light: #5e92f3;

$secondary: #00b8d4;
$secondary-dark: #0088a3;
$secondary-light: #62ebff;

$typo-black: #000000;
$typo-strong-grey: #474b50;
$typo-darker-grey: #84939c;
$typo-dark-grey: #9da1a4;
$typo-light-grey: #d1d5d8;
$typo-lighter-grey: #e0e3e6;
$typo-white: #ffffff;
$typo-dark-blue: #004468;
$typo-blue: #0092df;
$typo-red: #f44336;
$typo-green: #8bc34a;
