// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";

// Plus imports for other components in your app.
@import "~bootstrap/dist/css/bootstrap.min.css";

//Variable
@import "assets/variables.scss";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ColonyManagerWebApp-primary: mat-palette($mat-indigo);
$ColonyManagerWebApp-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ColonyManagerWebApp-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ColonyManagerWebApp-theme: mat-light-theme(
  (
    color: (
      primary: $ColonyManagerWebApp-primary,
      accent: $ColonyManagerWebApp-accent,
      warn: $ColonyManagerWebApp-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ColonyManagerWebApp-theme);

/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
  overflow: auto;
}

body {
  overflow: auto;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  background: url("assets/Images/background.png") no-repeat;
  background-size: cover;
}

.componentContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 2%;

  .dataTableOptions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1%;

    mat-form-field {
      background-color: white;
    }

    .dataTableOptionButtons {
      color: $typo-light-grey;
      background-color: $primary;
    }
  }
}

.dataTableContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  table {
    width: 100%;
    .mat-header-cell {
      background: $light-grey;
    }

    th {
      color: $typo-black;
    }

    tr:hover {
      background-color: $lighter-grey;
    }

    td {
      fa-icon {
        color: $primary;
      }
    }
  }
}
